* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-y: hidden;
}

nav {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
}

nav h2 {
  font-size: 1.6rem;
}

nav a {
  text-decoration: none;
  color: #fff;
}

button,
.update-button {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.update-button {
  border: none;
  background: tomato;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  min-width: 500px;
}

form div {
  margin: 10px 0;
}

form label {
  font-size: 1.2rem;
}

form input,
form select {
  padding: 8px;
  width: 100%;
  margin-top: 5px;
  font-size: 1.2rem;
}

button[type="submit"] {
  background: green;
  border: none;
  color: #fff;
  font-size: 1rem;
}

form input[type="radio"] {
  width: auto;
  margin: 0 10px;
}

/* not found page */
.not-found {
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found h1 {
  color: rgb(220, 0, 0);
  font-size: 120px;
  line-height: 140px;
  letter-spacing: 30px;
}
.not-found h2 {
  font-size: 36px;
  letter-spacing: 8px;
  text-align: center;
  padding: 0 10px;
}

.not-found p {
  font-size: 1.6rem;
  margin-top: 3vh;
  padding: 0 10px;
  text-align: center;
}

.not-found p span {
  color: rgb(220, 0, 0);
}
